* {
    box-sizing: border-box;
}
  

.card {
      border: 1px solid purple;
      margin: 10px;
}
  
.card-header {
      color: white;
      background-color: purple;
}
  

.form-input {
    padding: 3px 0;
    margin: 5px 0;
    font-size: 1.2rem;
}
  


  /* 5 DAY FORCAST */
.forcast {
    background-color: purple;
    border-radius: 5px;
    color: white;
    margin: 5px 5px;
    padding: 10px;
}
  
.forcast-date {
    font-weight: bold;
    margin-bottom: 0;
}
  

#search-history, button {
    width: 90%;
    margin: auto;
}